/* COLORS */

.thv-weak-color {
	color: rgb(100, 100, 120);
}

.thv-title-color {
	color: rgb(100, 100, 150);
}

.thv-estimated-color {
	color: rgb(190, 90, 90);
}

.thv-spent-color {
	color: rgb(60, 180, 100);
}

.thv-remaining-color {
	color: rgb(40, 120, 170);
}


/* BOARD and TIMEBOX */

.thv-board-column {
	display: inline-block;
	opacity: .7;
	font-size: .9em;
}
.thv-board-column > span {
	margin-left:  .5em;
}

.thv-box-wrapper {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}
.thv-box-wrapper-board {
	display: flex;
	width: 85%;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
}
.thv-box-item {
	display: flex;
	width: 47%;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba(100, 100, 125, 0.08);
	padding: .5em .75em;
	margin: .25em;
}
.thv-box-item:hover {
	filter: brightness(1.2);
}
@media only screen and (max-width: 1000px) {
	/* For mobile phones: */
	.thv-box-wrapper-board, .thv-box-item {
	width: 100%;
  }
}
.thv-box-item div {
	width: 25%;
}
.thv-box-item:last-child {
	margin-bottom: 1em;
}
.thv-box-item-full {
	width: 100% !important;
	margin: 0 .75em 1em;
}
.thv-box-all {
	opacity: .75;
	filter: saturate(.8);
}
.thv-font-small {
	font-size: .75em;
}

/* Task Progress Bar - copied from TaskProgressBar plugin by Valentino Pesce */
.container-task-progress-bar
{
	background-color: #8282822e;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.task-progress-bar
{
	height: 20px;
	padding-right: 3px;
	background: #f1f1f1;
	border-radius: 5px;
}

.task-progress-bar span
{
	color: #333 !important;
	opacity: 1 !important;
}
