.thv-estimated-color {
	color: rgb(190, 90, 90);
}

.thv-spent-color {
	color: rgb(60, 180, 100);
}

.thv-remaining-color {
	color: rgb(40, 120, 170);
}

.thv-over-board-wrapper {
	margin-top: -.5em;
	margin-bottom: 1em;
	text-align: center;
	font-size: .75em;
}

.thv-over-board-line {
	display:  inline-block;
	margin-left:  2em;
}

.thv-over-board-line-title {
	color: rgb(100, 100, 150);
}

.thv-over-board-line-caption {
	margin-left: 1em;
}

.thv-column-wrapper {
	margin-left:  .5em;
	font-size:  .9em;
	opacity:  .7;
}
